body{
   padding: 0;
   margin: 0;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-decoration-color: #0414f8;
}
nav{
   width: 100% ;
   background: #00316b;
   height: 100px;
}
ul{
   width: 100%;
   padding: 0;
   margin: 0;
   position: absolute;
   transform-origin: top;
   background: #262626;
   transition: 0.8s;
   transform: perspective(1000px)rotateX(-90deg);
}
ul.active{
   transform: perspective(1000px)rotateX(0deg);
}
ul.selected{
   transform: perspective(1000px)rotateX(0deg);
}
ul li{
   list-style: none;
   display: inline-block;
   padding: 10px;
}
ul li a:hover{
   background: #597777;
}
ul li a{
   text-decoration: none;
   display: block;
   border-bottom: 1px rgba(230, 230, 230, 0.2);
   text-align: center;
   color: rgb(8, 248, 80);
   transition: 0.8s;
}
button{
   position: relative;
   width: 100px;
   height: 40px;
   font-size: 15px;
   background: #2196f3;
   outline: none;
   cursor: pointer;
   color: #fff;
}
.dropdown1{
   position: absolute;
   top: 0%;
   left: 0%;
}
.dropdown2{
   position: absolute;
   top: 0%;
   left: 50%;
}
@media(max-width: 300px){
   ul{
      width: 100%;
   }
   ul li{
      display: block;
      text-align: center;
   }
   button{
      align-self: center;
   }
}